*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header{
    background: greenyellow;
    color: indigo;
    padding: 40px;
}

#movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 80%;
}